body {
    color: black;
    background-color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

button  {
    height: 45px;
    margin: 20px 20px 0px 20px;
    min-width: 100px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

pre {
    display: block;
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-align: center;
}

label {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin-left: 5px;
}

input {
    height: 40px;
    width: 90px;
    display: block;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
}

#interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.flexItems {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

#fontSize {
    height: 38px;
    text-align: center;
}