div {
    border: 3px, solid, black;
    
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input {
    width: 70px;
    font-size: 40px;
}


#mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
.frame {
    padding: 20px;
    background-color: #fdb768;
    margin: 20px;
    position: relative;
    width: 80px
  }