#container {
    border: 3px solid #fc7307;
    pointer-events: none;
    width: auto;
    text-align: center;
}

style{
    white-space:pre-wrap; 
    display:block;
    outline:none;
    text-align: left;
    font-family: monospace;
    color: #fc7307;
    pointer-events: auto;
  }

  .container {
    border: 3px solid #fc7307;
    width: 230px;
    text-align: center;
}


#navbar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fc7307;
  }
  
#navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #342e09;
    display: block;
    font-family: "Montserrat", sans-serif;
  }
  
#navbar a:hover {
    color: #fddc22;
  }

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fba90a;
    height: 100px;
    line-height: 100px;
    text-align: right;
    z-index: 2;
  }
  
#topbar a {
    margin-right: 40px;
    color: #342e09;
    text-decoration: none;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }
  
#topbar a:hover {
    color: #fddc22;
  }

main {
    margin-left: 150px;
    margin-top: 100px;
    padding: 0px 10px;
  }

body {
    background-color: #f7e3d4;
    margin: 0;
    padding-bottom: 150px;
}

section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    color: #342e09;
    font-family: "Montserrat", sans-serif;
}

h1 {
    padding-top: 20px;
    position: sticky;
    top: 15px;
    padding-bottom: 20px;
    z-index: 2;
}

h2 {
    position: sticky;
    top: 100px;
    background-color: #f7e3d4;
    padding-bottom: 20px;
    padding-top: 10px;

}

code {
    color: #fc7307;
}

p,
ul {
    font-family: "Montserrat", sans-serif;
    margin-left: 20px;
}


#bonus-content {
    opacity: 0.4;
    position: sticky;
    margin-top: 300px;
    width: 200px;
    font-size: 10px;
    border: 1px solid #fc7307;
}

#bonus-content-surprise {
    z-index: 4;
    position: fixed;
    top: 0px;
    left: 0vw;
    bottom: 0px;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 800px) {
    main {
    margin-left: 0;
}
    #navbar {
        display: none;
    }
    #topbar a {
    margin-right: 5vw;
    font-size: 2.5vw;
    }
    h1 {
        font-size: 4vw;
    }
}

@media (max-width: 600px) {
    #topbar {
        height: 6vh;
        line-height: 6vh;
    }    
    #topbar a {
        padding-right: 0px;
        font-size: 16px;
        }
        h1 {
            font-size: 20px;
            padding-top: 0;
            top: 1.5vh;
        }
        h2 {
            top: 6vh;
            padding-bottom: .4vh;
        
        }
        h3 {
            font-size: 17px;
        }
        p,
        ul {
            font-size: 16px
        }
        main {
            margin-top: 6vh;
        }
    }

#table {
    border: 1px solid #fc7307;
    height: 300px;
    width: 100%;
    position: relative;
}

#before {
    border: 1px dashed #fc7307;
    height: 108px;
    width: 233px;
    position: relative;
    bottom: 110px;
    left: 0px;
}