body {
    margin: 0;
    background-color: #fdc168;
    font-family: "Montserrat", sans-serif;
}

#welcome-section {
    height: 47vh;
}
  
#hi {
    font-size: 6vh;
    padding-left: 7vw;
    position: sticky;
    top: 0px;
    pointer-events: none;
    z-index: 2;
}

#stickybox {
    padding-top: 40vh;
}
  
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fb9902;
    height: 8vh;
    line-height: 8vh;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}
  
nav a {
    font-size: 20pt;
    font-weight: bold;
    margin: 0 40px 0 0;
}

h2 {
    margin: 0;
    font-size: 40px;
    position: sticky;
    top: 8vh;
    background-color: #fdc168;
    padding: 1vh;
    text-align: center;
}
  
footer {
    background-color: #fb9902;
    position: sticky;
    bottom: 0;
}
  
.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.flex-container div {
    padding: 20px;
    background-color: #fdb768;
    margin: 20px;
    position: relative;
  }
  
h3 {
    font-size: 30px;
    margin: 0 0 15px 0;
    text-align: center;
}

#blog {
  margin-bottom: 40px;
}

section img {
  margin: auto;
  display: block;
}
  
footer img {
    padding: 20px;
    height: 50px;
}

footer img:hover {
    filter: invert(1);
  }
  
a {
    text-decoration: none;
    color: black;
  }
  
a:hover {
    color: #fff1dc;
  }
  
a.anchor {
    display: block;
    position: relative;
    top: -9vh;
    visibility: hidden;
}

#blog p {
      font-weight: lighter;
  }

.description {
    font-size: 15pt;
    text-align: center;
    width: 350px;
  }

.date {
    font-style: italic;
    font-size: 12pt;
    text-align: right;
    position: absolute;
    right: 15px;
    bottom: 0px;
  }

  @media only screen and (max-device-width: 500px) {
    nav a {
      font-size: 40px;
      height: 65px;
    }
    #hi {
        font-size: 4.5em;
        top: 40px;
    }
    h2 {
      font-size: 5em;
    }
    .flex-container div {
        width: 80vw;
    }
    .description {
      font-family: 'Montserrat', sans-serif;
      width: auto;
    }
  
    .date {
      font-size: 13px;
    }

    footer img {
      height: 100px;
    }

    section img {
      width: 90%;
      height: auto;
    }
  }